.modal-content {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    z-index: 10;

    .content {

        button {
            position: absolute;
            top: 50%; 
            left: 50%;
            transform: translate(-50%, -50%); 
            width: 50%;
            padding: 10px 20px;
            margin-top: 1px;
            background-color: white;
            color: black;
            border: none;
            border-radius: 5px;
            cursor: pointer; 
        }
    }
}