.profile {
    background-color: #f6f3f3;

    .images {
        width: 100%;
        height: 300px;
        position: relative;

        .upload-icon-container {
            position: absolute;
            top: 10px;
            right: 10px;
            color: white;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: blue;
            cursor: pointer;
          }

          .upload-profile-icon-container {
            position: absolute;
            top: calc(50% - 25px + adjustment);
            left: calc(50% + 80px); 
            transform: translateY(-50%); 
            color: white;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: blue;
            cursor: pointer;
          }

        .cover {
            width: 100%;
            height: 116%;
            object-fit: cover;
            top: 0;
            left: 0;
            filter: brightness(0.7);      
        }

        .profilePic {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            top: 200px;
        }
    }

    .profileContainer {
        padding: 60px 70px;


        .uInfo {
            height: 200px;
            -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
            -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
            box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
            border-radius: 20px;
            background-color: white;
            color: black;
            padding: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;

            .left {
                flex: 1;
                display: flex;
                gap: 10px;
            }

            .center {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;

                span {
                    font-size: 30px;
                    font-weight: 500;
                    padding-bottom: 20px;
                }

                button {
                    border: none;
                    background-color: #5271ff;
                    color: white;
                    padding: 10px 20px;
                    border-radius: 5px;
                    cursor: pointer;
                }
            }

            .right {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 10px;
                p {
                    font-size: 1rem;
                    max-width: 100%;
                    word-break: break-word;
                    white-space: normal;
                }
              }
        } 
        
        
          
    }  
    
    @media screen and (max-width: 768px) {
            
            .images {
                .profilePic {
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    object-fit: cover;
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: auto;
                    top: 200px;
                }
            
            .profileContainer {
                .uInfo {
                    padding-bottom: 30px;
                    align-items: center;
                }
            }
        }
    }

    @media screen and (max-width: 426px) {
        
            .images {
                width: 100%;
                height: 200px;
                position: relative;
                .upload-profile-icon-container {
                    position: absolute;
                    top: calc(50% - 25px + adjustment);
                    left: calc(50% + 56px); 
                    transform: translateY(-50%); 
                    color: white;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: blue;
                    cursor: pointer;
                  }
                .cover {
                    width: 100%;
                    height: 126%;
                    object-fit: cover;
                    top: 0;
                    left: 0;
                    filter: brightness(0.7);      
                }
                .profilePic {
                    width: 130px;
                    height: 130px;
                    border-radius: 50%;
                    object-fit: cover;
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: auto;
                    top: 170px;
                }
            }
            .profileContainer {
                align-items: center;
                .uInfo {
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                    margin-bottom: 20px;
                    .left {
                        .fake-icon {
                            display: none;
                        }
                        a {
                            display: block;
                        }
                    }

                    .center {
                        span {
                            font-size: 1.5rem;
                        }
                        button {
                            padding: 5px 10px;
                        }
                    }

                    .right {
                        p {
                            font-size: 0.5rem;
                            max-width: 100%;
                            word-break: break-word;
                            white-space: normal;
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 360px) {
        
            .images {
                width: 100%;
                height: 200px;
                position: relative;
                .upload-profile-icon-container {
                    position: absolute;
                    top: calc(50% - 25px + adjustment);
                    left: calc(50% + 56px); 
                    transform: translateY(-50%); 
                    color: white;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: blue;
                    cursor: pointer;
                  }
                .cover {
                    width: 100%;
                    height: 126%;
                    object-fit: cover;
                    top: 0;
                    left: 0;
                    filter: brightness(0.7);      
                }
                .profilePic {
                    width: 130px;
                    height: 130px;
                    border-radius: 50%;
                    object-fit: cover;
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: auto;
                    top: 170px;
                }
            }
            .profileContainer {
                align-items: center;
                .uInfo {
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                    margin-bottom: 20px;
                    .left {
                        .fake-icon {
                            display: none;
                        }
                        a {
                            display: block;
                        }
                    }

                    .center {
                        span {
                            font-size: 1.5rem;
                        }
                        button {
                            padding: 5px 10px;
                        }
                    }

                    .right {
                        p {
                            font-size: 0.5rem;
                            max-width: 100%;
                            word-break: break-word;
                            white-space: normal;
                        }
                    }
                }
            }
        }
    

}