.comments {
    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
    }

    .write {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        margin: 20px 0px;

        input {
            flex:1;
            padding: 10px;
            max-width: 100%;
            overflow-wrap: break-word;
            border: 1px solid rgb(158, 156, 156);
            background-color: transparent;
            color: black;
        }

        button {
            border: none;
            background-color: #5271ff;
            color: white;
            padding: 10px;
            cursor: pointer;
            border-radius: 3px;
        }
    }

    .comment {
        margin: 30px 0px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        flex-wrap: wrap;
        overflow: hidden;

        .info {
            flex:5;
            display: flex;
            flex-direction: column;
            gap: 3px;
            align-items: flex-start;
            max-width: calc(100% - 40px);

            a {
                text-decoration: none;
                span {
                    font-weight: 500;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                    color: black
                }
            }

            p {
                color: rgb(75, 74, 74);
                max-width: 100%;
                word-break: break-word;
                white-space: normal;
            }

            .date {
                flex:1;
                align-self: center;
                color: rgba(34, 33, 33, 0.553);
                font-size: 12px;
            }

            .like-comment {
                display: flex;
                align-items: center;
                .fa-icon {
                    margin-right: 6px;
                }                                
            }
        }
    }

    @media screen and (max-width: 420px) {
        .write {
            margin: 0;
            padding: 0;
            justify-content: center;
            align-items: center;
            gap: 10px;
            img {
                display: none;
            }
            
            input {
                width: 90%;
            }          
        }
        .comment {
            .info {
                p {
                    font-size: 12px;
                }
            }
        }
    }
    
    @media screen and (max-width: 400px) {
        .write {
            margin: 0;
            padding: 0;
            justify-content: center;
            align-items: center;
            gap: 5px;
            img {
                display: none;
            }
            
            input {
                width: 100%;
            }
        }
    } 

    @media screen and (max-width: 380px) {
        .write {
            margin: 0;
            padding: 0;
            justify-content: center;
            align-items: center;
            gap: 5px;
            img {
                display: none;
            }
            
            input {
                width: 100%;
            }
        }
    } 

    @media screen and (max-width: 360px) {
        .write {
            margin: 0;
            padding: 0;
            justify-content: center;
            align-items: center;
            gap: 5px;
            img {
                display: none;
            }
            
            input {
                width: 100%;
            }
        }
    } 
}