* {
  box-sizing: border-box;
}

.section {
  display: flex;
  background-color: white;

  
}

.left-toggle {
  
  width: 10px;
  display: none;
  z-index: 10000;
}

.right-toggle {
  display: none;
  width: 10px;
  z-index: 10000;
}

@media screen and (max-width: 1250px) {
  .left-toggle {
    display: none;
  }
  .right-toggle {
    display: none;
  }
  .leftbar {
    display: block;
  }
  .rightbar {
    display: block;
  }
}


@media screen and (max-width: 768px){
  .left-toggle {
    display: block;
  }
  .right-toggle {
    display: block;
  }
  .leftbar {
    display: none;
  }
  .leftbar.show {
    display: block;
    position: absolute;
    height: 300vh;
    z-index: 9999;
    transition: transform 0.7s ease;
  }
  .leftbar.hide {
    display: none;
  }
  .rightbar {
    display: none;
  }
  .rightbar.show {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 350px;
    height: 300vh;
    z-index: 9999;
    transition: transform 0.5s ease;
  }
  .rightbar.hide {
    display: none;
  }

  @media screen and (max-width: 426px){
  
    .profile {    
      max-width: 373px;
      margin: 0;
    }
    .home {     
      max-width: 373px;
      margin: 0;
    }

    .right-toggle {
     margin: 0;
    }

    .rightbar.show {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 200px;

      z-index: 9999;
    }
  }

  @media screen and (max-width: 360px) {
    .profile {
     
      max-width: 310px;
      margin: 0;
    }
    .home {
      
      max-width: 310px;
      margin: 0;
    }
  }

}
.section::-webkit-scrollbar {
  width: 5px;
  color: white;
}